In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import matplotlib as plt

## Importing by season year, followed by some data cleaning per year

## 2019

In [2]:
df_2019 = pd.read_csv('2019 Season.csv.txt', )

In [3]:
df_2019.head()

   Rk                  Player Pos  Age   Tm   G  GS    MP   FG   FGA    FG%   3P  3PA    3P%   2P   2PA    2P%   eFG%   FT  FTA    FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
0   1  Álex Abrines\abrinal01  SG   25  OKC  31   2  19.0  1.8   5.1  0.357  1.3  4.1  0.323  0.5   1.0  0.500  0.487  0.4  0.4  0.923  0.2  1.4  1.5  0.6  0.5  0.2  0.5  1.7   5.3
1   2      Quincy Acy\acyqu01  PF   28  PHO  10   0  12.3  0.4   1.8  0.222  0.2  1.5  0.133  0.2   0.3  0.667  0.278  0.7  1.0  0.700  0.3  2.2  2.5  0.8  0.1  0.4  0.4  2.4   1.7
2   3  Jaylen Adams\adamsja01  PG   22  ATL  34   1  12.6  1.1   3.2  0.345  0.7  2.2  0.338  0.4   1.1  0.361  0.459  0.2  0.3  0.778  0.3  1.4  1.8  1.9  0.4  0.1  0.8  1.3   3.2
3   4  Steven Adams\adamsst01   C   25  OKC  80  80  33.4  6.0  10.1  0.595  0.0  0.0  0.000  6.0  10.1  0.596  0.595  1.8  3.7  0.500  4.9  4.6  9.5  1.6  1.5  1.0  1.7  2.6  13.9
4   5   Bam Adebayo\adebaba01   C   21  MIA  82  28  23.3  3.4   5.9  0.576  0.0  0.2  0.200  3.4   5.7  0.588  0.579  2.0  2.8  0.735  2.0  5.3  7.3  2.2  0.9  0.8  1.5  2.5   8.9

In [4]:
df_2019['Player'] = df_2019['Player'].str.split('\\').str[0]

In [5]:
df_2019['Year'] = 2019

In [38]:
df_2019.head(2)

   Rk        Player Pos  Age   Tm   G  GS    MP   FG  FGA    FG%   3P  3PA    3P%   2P  2PA    2P%   eFG%   FT  FTA    FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF  PTS  Year
0   1  Álex Abrines  SG   25  OKC  31   2  19.0  1.8  5.1  0.357  1.3  4.1  0.323  0.5  1.0  0.500  0.487  0.4  0.4  0.923  0.2  1.4  1.5  0.6  0.5  0.2  0.5  1.7  5.3  2019
1   2    Quincy Acy  PF   28  PHO  10   0  12.3  0.4  1.8  0.222  0.2  1.5  0.133  0.2  0.3  0.667  0.278  0.7  1.0  0.700  0.3  2.2  2.5  0.8  0.1  0.4  0.4  2.4  1.7  2019

## 2020

In [7]:
df_2020 = pd.read_csv('2020 Season.csv.txt')

In [8]:
df_2020['Player'] = df_2020['Player'].str.split('\\').str[0]

In [9]:
df_2020['Year'] = 2020

In [39]:
df_2020.head(2)

   Rk        Player Pos  Age   Tm   G  GS    MP   FG   FGA    FG%   3P  3PA    3P%   2P   2PA    2P%   eFG%   FT  FTA   FT%  ORB  DRB   TRB  AST  STL  BLK  TOV   PF   PTS  Year
0   1  Steven Adams   C   26  OKC  58  58  27.0  4.5   7.6  0.591  0.0  0.1  0.333  4.5   7.6  0.593  0.593  1.9  3.2  0.59  3.4  6.0   9.4  2.4  0.9  1.1  1.5  1.9  10.9  2020
1   2   Bam Adebayo  PF   22  MIA  65  65  34.4  6.3  11.1  0.567  0.0  0.2  0.077  6.3  10.9  0.576  0.568  3.6  5.3  0.69  2.5  8.0  10.5  5.1  1.2  1.3  2.8  2.5  16.2  2020

## 2018

In [11]:
df_2018 = pd.read_csv('2018 Season.csv.txt')

In [12]:
df_2018['Player'] = df_2018['Player'].str.split('\\').str[0]

In [13]:
df_2018['Year'] = 2018

In [40]:
df_2018.head(2)

   Rk        Player Pos  Age   Tm   G  GS    MP   FG  FGA    FG%   3P  3PA    3P%   2P  2PA    2P%   eFG%   FT  FTA    FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF  PTS  Year
0   1  Álex Abrines  SG   24  OKC  75   8  15.1  1.5  3.9  0.395  1.1  2.9  0.380  0.4  0.9  0.443  0.540  0.5  0.6  0.848  0.3  1.2  1.5  0.4  0.5  0.1  0.3  1.7  4.7  2018
1   2    Quincy Acy  PF   27  BRK  70   8  19.4  1.9  5.2  0.356  1.5  4.2  0.349  0.4  1.0  0.384  0.496  0.7  0.9  0.817  0.6  3.1  3.7  0.8  0.5  0.4  0.9  2.1  5.9  2018

## 2017

In [15]:
df_2017 = pd.read_csv('2017 Season.csv.txt')

In [16]:
df_2017['Player'] = df_2017['Player'].str.split('\\').str[0]

In [17]:
df_2017['Year'] = 2017

In [41]:
df_2017.head(2)

   Rk        Player Pos  Age   Tm   G  GS    MP   FG  FGA    FG%   3P  3PA    3P%   2P  2PA    2P%   eFG%   FT  FTA    FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF  PTS  Year
0   1  Álex Abrines  SG   23  OKC  68   6  15.5  2.0  5.0  0.393  1.4  3.6  0.381  0.6  1.4  0.426  0.531  0.6  0.7  0.898  0.3  1.0  1.3  0.6  0.5  0.1  0.5  1.7  6.0  2017
1   2    Quincy Acy  PF   26  TOT  38   1  14.7  1.8  4.5  0.412  1.0  2.4  0.411  0.9  2.1  0.413  0.521  1.2  1.6  0.750  0.5  2.5  3.0  0.5  0.4  0.4  0.6  1.8  5.8  2017

## 2016

In [19]:
df_2016 = pd.read_csv('2016 Season.csv.txt')

In [20]:
df_2016['Player'] = df_2016['Player'].str.split('\\').str[0]

In [21]:
df_2016['Year'] = 2016

In [42]:
df_2016.head(2)

   Rk        Player Pos  Age   Tm   G  GS    MP   FG  FGA    FG%   3P  3PA    3P%   2P  2PA    2P%   eFG%   FT  FTA    FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF  PTS  Year
0   1    Quincy Acy  PF   25  SAC  59  29  14.8  2.0  3.6  0.556  0.3  0.8  0.388  1.7  2.8  0.606  0.600  0.8  1.2  0.735  1.1  2.1  3.2  0.5  0.5  0.4  0.5  1.7  5.2  2016
1   2  Jordan Adams  SG   21  MEM   2   0   7.5  1.0  3.0  0.333  0.0  0.5  0.000  1.0  2.5  0.400  0.333  1.5  2.5  0.600  0.0  1.0  1.0  1.5  1.5  0.0  1.0  1.0  3.5  2016

## Merge all years into one Dataframe

In [23]:
dataframes = (df_2016, df_2017, df_2018, df_2019)

In [24]:
final_df = pd.concat(dataframes)

In [25]:
final_df.shape

(2545, 31)

In [43]:
final_df.head()

   Rk         Player Pos  Age   Tm   G  GS    MP   FG   FGA    FG%   3P  3PA    3P%   2P  2PA    2P%   eFG%   FT  FTA    FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS  Year
0   1     Quincy Acy  PF   25  SAC  59  29  14.8  2.0   3.6  0.556  0.3  0.8  0.388  1.7  2.8  0.606  0.600  0.8  1.2  0.735  1.1  2.1  3.2  0.5  0.5  0.4  0.5  1.7   5.2  2016
1   2   Jordan Adams  SG   21  MEM   2   0   7.5  1.0   3.0  0.333  0.0  0.5  0.000  1.0  2.5  0.400  0.333  1.5  2.5  0.600  0.0  1.0  1.0  1.5  1.5  0.0  1.0  1.0   3.5  2016
2   3   Steven Adams   C   22  OKC  80  80  25.2  3.3   5.3  0.613  0.0  0.0    NaN  3.3  5.3  0.613  0.613  1.4  2.5  0.582  2.7  3.9  6.7  0.8  0.5  1.1  1.1  2.8   8.0  2016
3   4  Arron Afflalo  SG   30  NYK  71  57  33.4  5.0  11.3  0.443  1.3  3.4  0.382  3.7  7.9  0.469  0.500  1.5  1.8  0.840  0.3  3.4  3.7  2.0  0.4  0.1  1.2  2.0  12.8  2016
4   5  Alexis Ajinça   C   27  NOP  59  17  14.6  2.5   5.3  0.476  0.0  0.0  0.000  2.5  5.3  0.478  0.476  0.9  1.1  0.839  1.3  3.3  4.6  0.5  0.3  0.6  0.9  2.3   6.0  2016

In [33]:
final_df[final_df['Player'] == 'Aaron Gordon']

      Rk        Player Pos  Age   Tm   G  GS    MP   FG   FGA    FG%   3P  3PA    3P%   2P  2PA    2P%   eFG%   FT  FTA    FT%  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS  Year
181  159  Aaron Gordon  PF   20  ORL  78  37  23.9  3.5   7.4  0.473  0.5  1.8  0.296  3.0  5.6  0.531  0.509  1.7  2.5  0.668  2.0  4.5  6.5  1.6  0.8  0.7  0.8  2.0   9.2  2016
193  157  Aaron Gordon  SF   21  ORL  80  72  28.7  4.9  10.8  0.454  1.0  3.3  0.288  4.0  7.5  0.528  0.499  2.0  2.7  0.719  1.5  3.6  5.1  1.9  0.8  0.5  1.1  2.2  12.7  2017
215  179  Aaron Gordon  PF   22  ORL  58  57  32.9  6.5  14.9  0.434  2.0  5.9  0.336  4.5  9.0  0.497  0.500  2.7  3.9  0.698  1.5  6.4  7.9  2.3  1.0  0.8  1.8  1.9  17.6  2018
246  189  Aaron Gordon  PF   23  ORL  78  78  33.8  6.0  13.4  0.449  1.6  4.4  0.349  4.5  9.0  0.499  0.507  2.4  3.2  0.731  1.7  5.7  7.4  3.7  0.7  0.7  2.1  2.2  16.0  2019

In [35]:
sum(final_df['Player'].value_counts() > 1)

590

### Export file to csv

In [37]:
final_df.to_csv('final dataframe2.csv', index=False)

### Importing advanced Stats next, will worry about duplicate players once all data imported